* {
    margin: 0;
    padding: 0;
    outline: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

nav {
    overflow: hidden;
}

#nav-title {
    font-size: 25px;
    float: left;
}

#nav-right {
    float: right;
}

#title {
    margin-top: 3px;
    text-align: center;
    margin-bottom: 6px;
}

#create-a-element {
    margin-top: 25px;
}

iframe {
    width: 800px;
    height: 600px;
    border: solid 4px black;
}